@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#services {
  height: fit-content;
  background-color: #fafafa;
}
#services h1 {
  color: #4d73f8;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-left: 4rem;
}
.main-services {
  background-color: #c1d3e5;
  margin: 1rem 0 2rem 0;
  padding: 0 4rem;
}
.main-services h2 {
  color: #4d73f8;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 55px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem 3rem;
}
.doc-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-bottom: 0.75rem;
}
.doc-contact img {
  width: 48px;
  height: 48px;
}
.doc-contact p {
  color: rgba(29, 27, 32, 0.8);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
@media only screen and (max-width: 768px) {
  #services h1 {
    margin-left: 2rem;
  }
  .main-services {
    padding: 0 2rem;
  }
  .main-services h2 {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .services-contacts {
    padding: 2rem 1rem;
  }
  .doc-contact {
    width: 100%;
  }
  .doc-contact img {
    width: 32px;
    height: 32px;
  }
  .doc-contact p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 420px) {
  #services {
    width: 100vw;
  }
  #services h1 {
    text-align: center;
  }
  .main-services {
    padding: 0 1rem;
  }
  .details {
    display: flex;
    flex-direction: column-reverse;
  }
  .details img {
    margin-right: 10px;
  }
  .services-contacts {
    width: 100%;
  }
  .services-contacts h2 {
    text-align: center;
  }
  .smiling-doc {
    width: 100%;
    max-width: 300px;
    order: 2;
    margin: 20px 0;
  }
}
