* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 357px;
  cursor: pointer;
}
.product-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: transform 0.2s ease-in-out;
}
