#single-product {
  background-color: #cbcbd4;
  height: 100vh;
}
.nav-top {
  padding: 1.5rem;
}
.cart-icon {
  cursor: pointer;
}
.back-icon {
  cursor: pointer;
}

.product-gallery {
  width: 100%;
  position: relative;
  margin: 0;
}
.product-gallery div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-gallery div:first-child img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.thumbnail-gallery {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.thumbnail-gallery img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product-details-price {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.single-product-details {
  background-color: #fff;
  padding: 24px;
}
.single-product-details > * {
  margin-bottom: 0.25rem;
}
.single-product-details p:first-child {
  color: rgba(0, 0, 0, 0.75);
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.single-product-details p:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 17.5px */
}
.single-product-details p:last-child {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 17.5px */
}
.single-product-price {
  background-color: #ffe8b2;
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-product-price div:first-child {
  min-width: 120px;
  margin-right: 2rem;
}
.single-product-price div:first-child p:first-child {
  color: #616161;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
}
.single-product-price div:first-child p:last-child {
  color: var(--Text-Gray-80, #3a3a3a);
  font-variant-numeric: ordinal;
  font-feature-settings: "calt" off, "liga" off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.single-product-price button {
  display: flex;
  width: 440px;
  min-width: 100px;
  height: 48px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  background-color: #1f2223;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  border: none;
  cursor: pointer;
}
.single-product-price button:hover {
  background-color: #000;
}

.thumbnail-gallery img {
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbnail-gallery img.active-thumbnail {
  border: 1px solid #000;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 800px) {
  .nav-top {
    width: 100vw;
  }
  .product-gallery {
    width: 100vw;
  }
  .single-product-price {
    padding: 24px 20px;
  }
}
